<%= form_for(@line_description) do |f| %>
  <% if @line_description.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_description.errors.count, "error") %> prohibited this line_description from being saved:</h2>

      <ul>
      <% @line_description.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :rate %><br />
    <%= f.text_field :rate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
