<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sender_id %>
    <%= f.collection_select :sender_id,  Contact.all, :id, :name, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :recipient_id %>
    <%= f.collection_select :recipient_id,  Contact.all, :id, :name, :prompt => true %>
  </div>
  <div class="field">
  <%= f.fields_for :line_items do |line_item_form| %>
    <%= render 'line_item_fields', :f => line_item_form %>
  <% end %>
  <p><%= link_to_add_fields "Add Line Item", f, :line_items %></p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
